#lblPasswordSecretQuestion, #lblUsernameSecretQuestion {
    font-weight: bold;
    color: white;
}
#MainContent_lvFollows_tblFollows, #MainContent_lvFollowers_tblFollowers {
    color: white;
}
img {
    object-fit: cover;
}
@media screen and (min-width: 600px) {
    #divLogin, #divRegister, #divForgotUsername, #divForgotPassword, #MainContent_divUpdateProfile, #MainContent_containerNewPost {
        width: 500px;
        color: white;
    }
    #MainContent_lvFollows_tblFollows, #MainContent_lvFollowers_tblFollowers {
        width: 700px;
    }
    .card {
        width: 100%;
    }

}
/*Lighter Dark Blue*/
#trendingContainer, #followContainer {
    background-color: #15202B;

    border-color: #485159;
}
#trendingContainer{
    margin-left: .5em;
    margin-right: .5em;
}
.card-img-top {
    border-radius: calc(.25rem - 1px);
}
/*Dark Blue*/
#HomeContainer {
    background-color: #15202B;
    width: 100% !important;
    color: white;
}

#tcNavBar, #tcFooter {
    background-color: #202E3A;
    color: #485159;
}

#tcNavBar {
    border-bottom: solid;
    border-color: #485159;
}
#tcFooter {
    border-top: solid;
    border-color: #485159;
}
#MainContent_divCreateComment {
    border-color: #202E3A !important;
}
#MainContent_divComments {
    width: 70%;
    margin: auto;
}


.card-header {
    background-color: #202E3A !important;
    border-bottom: 1px solid white;
}
.card {
    background-color: #202E3A !important;
}

#cardText {
    margin-top: 1em;
    margin-left: .1em;

    border-color: #485159;
}

#tagRow {
    margin-top: 1em;
}

#tagList {
    color: #865DCA;
}

body {
    background-color: #15202B !important;
    color: white !important;
}

.btnViewComments {
    background-color: #865DCA !important;
    color: white !important;
}

.postTag {
    color: #865DCA !important;
}

#Greeting {
    border-color: #485159;
    padding-top: .5em;
    padding-bottom: .5em;
}
.footer-notice {
    color: white;
}
.jumbotron {
    background-color: #202E3A !important;
}

.searchPanel {

    border-color: #485159;

    height: 100%;
}

.searchInput {
    border-style: solid;
    border-radius: .25rem;
    border-color: #865DCA;
    border-width: thin;
    width: 90%;
    height: auto;
    margin-left: 2.6em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.searchTextBox {
    margin-top: 8% !important;
    margin-left: 5%;
    width: 90% !important;
    background-color: #202E3A !important;
    border-color: #485159 !important;
    color: white;
}

#MainContent_lnkAdvancedSearch {
    color: #865DCA;
}

#searchTitle{
    margin-top: 1em;
}



#Greeting {
    border-style: solid;
    border-color: #485159 !important;
}

.btnSearch{

    background-color: #865DCA !important;
    color: white;
    border-style: none !important;
    margin-bottom: 1em;
    margin-top: .5em;
}

#MainContent_lblStartDate, #MainContent_lblEndDate{
    margin-top: .5rem;
    margin-left: 1rem;
}